/* Task Header Container */
.ThemeContextAPI {
  position: relative;
  height: 500px;
  transition: all 0.5s ease-in-out;
}

#ThemeContextAPI{
  width: 70%;
}
#button {
  padding: 5px 10px;
  background-color: #ee8e0f;
  border: none;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30px;
}
#div1,
#div2,
#div3,
#div4 {
  width: 170px;
  height: 170px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  margin: 30px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s ease-in-out;
}
#div1 {
  position: absolute;
  top: 0;
  left: 0;
}
#div2 {
  position: absolute;
  top: 0;
  right: 0;
}
#div3 {
  position: absolute;
  bottom: 0;
  right: 0;
}
#div4 {
  position: absolute;
  bottom: 0;
  left: 0;
}
